.logo-text{
    font-size: 160%;
    width: 100%;
    position: static;
    color:rgb(250, 160, 4);
    padding-top: 50px;
    padding-left: 550px;
}

/* .header{
    width: 100%;
    top:0;
    left:0;
    position: -ms-page;
    color:rgb(250, 160, 4);
    padding-top: 20px;
    padding-left: 20px;
} */

#banner-amd{
    background-image: url(../media/img_AMD/amd_banner.jpeg) ;
    background-size: cover;
    background-position: center;
    height: 30vw;
}
h1{
    color: black;  
    font-size: 4em;
  }
  
  h2 {
      color: black;
      font-size: 2vw;
  }

.container{
    display:flex;
    max-width: 1200px;
    margin:0 auto;
}

.contenedor{
width: 100%;
height: 100%;
/* color:black;
position: relative; */


}
.producto-flex{
    display: flex;
    flex-wrap: wrap;
    
}

img.producto-img {
    width: 200px;
    margin: 0 auto;

}
.producto-img {
    width: 200px;
    height: 150px;
}

.producto{
    width:300px;
    margin:50px 20px;
    padding:15px;
    border-radius:12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding-top: 25px;
    overflow: scroll;
}
.producto a{
    margin:50px 0px;

}
.producto-detail{
    height:290px;
    width:280px;
}
/*
#producto2{
    order: 2;
   
}

#producto3{
    order: 3;
    flex-grow: 2;
    flex-basis: 50%;
    padding-top: 25px;
}

#producto4{
    order: 4;
    flex-grow: 2;
    flex-basis: 50%;
    padding-top: 25px;
}

#producto5{
    order: 5;
    flex-grow: 2;
    flex-basis: 50%;
    padding-top: 25px;
}

#producto6{
    order: 6;
    flex-grow: 2;
    flex-basis: 50%;
    padding-top: 25px;
} */
.producto-detail-title{
    line-height: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    color:rgb(190, 126, 16);

}

.btn_comprar{
    
     width:300px;
    background-color: black;
    color: rgb(250, 160, 4);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 35%;
    border-radius:10px;
    height: 40px;
    text-decoration: none;
    
}

.btn_comprar:hover{
    
    background-color: rgb(250, 160, 4);
    color: black;
    
}
/* .footer{
   
    height: 10%;
}

#footer {
    align-items: center;
    display: flex;
    height: 100px;
    width: 100%;
    gap: 20px;
    padding: 50px;
} */