.logo-text{
   
    width: 100%;
    position: static;
    
    padding-top: 50px;
    
}
.texto-logo{ 
    font-size: 3rem;
    color:rgb(250, 160, 4);
    padding-left: 30px;
}
/* .header{
    font-size: 110%;
    width: 100%;
    top:0;
    left:0;
    position: static;
    color:rgb(250, 160, 4);
    padding-top: 20px;
    padding-left: 20px;
} */
.navbar-collapse {
     flex-grow: 0;
}

#banner{
    background-image: url(../media/img_AMD/img_INDEX/dual-screen-desktop-computer.jpg);
    background-size: contain;
    background-position: bottom;
    height: 40vw;
}
#search{
    height: 5vw;
}
.buscar-nav{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.txtbuscar{
    padding:10px;
    width:50%;
    border: 1px solid silver;
    border-radius:12px;
    margin: 10px;

}
.tit-buscar{
    font-size:1.3em;
    color: rgb(255, 255, 255);
}


.btn-buscar-nav
{width:50px;
height:50px;
background-color: rgb(24, 90, 116);
padding:10px;
margin:10px;
border-radius:12px;
}
h1{
    color: black;  
    font-size: 3em;
  }

.container{
    display:flex;
    width: 90%;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.contenedor-productos{
    padding:20px;
}

.product-item{
    display:flex;
    flex-direction:column;
    justify-content: baseline;
    width:300px;
    max-height: 450px;
    border:1px solid silver;
    border-radius: 12px;
    padding:10px;

}
img.product-img {
    width: auto;
    height:300px;

}
.product-img {
    max-width: 250px;
    height:350px;

}
.product-item-detail{
    display:flex;
    justify-content: center;
}
.product-item-detail-title{
    line-height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color:rgb(40, 121, 168);
}

#search {
    
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size:400%;
	animation: gradient 15s ease infinite;
	height:10vh;color:#fff;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
